/* 
    font-family: 'Inconsolata', monospace; 
    font-family: 'Playfair Display', serif; Main headings
*/

body{
    font-family: 'Inconsolata', monospace;
    overflow-x: hidden;
    font-weight: 400;
    color: #06113C;
}

ul,li{
    list-style: none;
}

/* Navbar styling */
.navbar{
    background-color: #06113C;
    margin-bottom: 0;
    border-radius: 0;
}

.navbar-nav{
    float: right;
}

.link-nav-main{
    font-family: 'Playfair Display', serif;
    font-size: 4rem;
    font-weight: bolder;
    color: #FF8C32;
}

.link-nav-main:hover{
    color: #EEEEEE;
}

.link-nav{
    color: white;
    font-weight: 500;
}

.navbar-toggle{
    background-color: #FF8C32;
}

.main-page{
    padding: 1vh;
}

/* Tech articles section */
.main-heading{
    font-family: 'Playfair Display', serif;
    font-weight: bolder;
}

.display-tech-articles{
    margin-top: 1vh;
    color: #EEEEEE !important;
    background-image: url(assets/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.tech-article-div{
    padding: 2vh;
}

.other-tech-articles{
    float: right;
}

.tech-article-title{
    text-decoration: none;
    color: #EEEEEE !important;
}

.tech-article-title:hover{
    color: #EEEEEE !important;
}

.tech-article{
    color: #EEEEEE !important;
}

.tech-article:hover{
    font-size: 110%;
}

/* Styling for the main section */
.card{
    height: 30rem;
    width: auto;
    margin-top: 2vh;
}

.card-img-top{
    height: 50%;
    width: 100%;
}

.main-section-two{
    background-color: #EEEEEE;
    padding: 2vh;
}

.main-section-one{
    padding: 2vh 0;
}

.main-section-two-title{
    font-weight: 800;
}

.main-section-two-card-body{
    padding: 0 1vh;
    background-color: white;
    height: 50%;
}

/* Sources styling */
.source-title{
    font-weight: 700;
    font-size: large;
    color: #06113C;
    text-decoration: none;
    padding-right: 5vh;
}

.source-heading{
    color: #FF8C32;
    font-weight: bolder;
}

.more-sources{
    color: #FF8C32;
    font-weight: bolder;
}

.sources-display-all{
    padding: 1vh 6vh;
}

/* Footer styling */
.footer{
    background-color: #06113C;
    color: #EEEEEE;
    padding: 3vh;
    line-height: 1vh;
}

.footer-header{
    font-family: 'Playfair Display', serif;
    font-weight: bolder;
    color: #FF8C32;
    font-size: 8vh;
}

.social-icons{
    height: 30%;
    padding: 2vh;
}

/* Pages styling */
.article-page-img{
    height: 12rem;
    width: 20rem;
}

.article-card{
    height: auto;
}

.page-articles-display{
    padding: 0 2vh;
}

.main-articles{
    background-color: #EEEEEE;
    border-right: #06113C solid 2px;
}

.page-article-text{
    font-weight: bold;
    font-size: smaller;
}

.page-article-title{
    text-decoration: none;
    color: #06113C;
}

.page-article-title:hover{
    font-size: large;
}

.article-card-title{
    font-weight: bold;
}

.article-main-headings{
    font-family: 'Playfair Display', serif;
}