/* 
    font-family: 'Inconsolata', monospace; 
    font-family: 'Playfair Display', serif; Main headings
*/

body{
    font-family: 'Inconsolata', monospace;
    overflow-x: hidden;
    font-weight: 400;
    color: #06113C;
}

ul,li{
    list-style: none;
}

/* Navbar styling */
.navbar{
    background-color: #06113C;
    margin-bottom: 0;
    border-radius: 0;
}

.navbar-nav{
    float: right;
}

.link-nav-main{
    font-family: 'Playfair Display', serif;
    font-size: 4rem;
    font-weight: bolder;
    color: #FF8C32;
}

.link-nav-main:hover{
    color: #EEEEEE;
}

.link-nav{
    color: white;
    font-weight: 500;
}

.navbar-toggle{
    background-color: #FF8C32;
}

.main-page{
    padding: 1vh;
}

/* Search form styling */

.search-btn{
    background-color: #06113C;
    color: #FF8C32;
    font-weight: 600;
}

.search-btn:hover{
    background-color:#FF8C32;
    color:#06113C;
    font-weight: 600;
}

.search-form{
    padding-top: 1vh;
}

.title-heading-search{
    font-family: 'Playfair Display', serif;
    font-weight: 800;
}

.main-heading-search{
    font-weight: 400;
}

.searched-results{
    padding:1vh 4vh;
}

/* Tech articles section */
.main-heading{
    font-family: 'Playfair Display', serif;
    font-weight: bolder;
}

#main-heading{
    font-family: 'Playfair Display', serif;
    font-weight: bolder;
    color: #EEEEEE;
}

.display-tech-articles{
    margin-top: 1vh;
    color: #EEEEEE !important;
    background-image: url(assets/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.tech-article-div{
    padding: 2vh;
}

.other-tech-articles{
    float: right;
}

.tech-article-title{
    text-decoration: none;
    color: #EEEEEE !important;
}

.tech-article-title:hover{
    color: #EEEEEE !important;
}

.tech-article{
    color: #EEEEEE !important;
}

.tech-article:hover{
    font-size: 110%;
}

/* Styling for the main section */
.card{
    height: 35rem;
    width: auto;
    background-color: white;
    margin-top: 2vh;
}

.card-img-top{
    height: 50%;
    width: 100%;
}

.main-section{
    padding: 0 2vh;
    background-color: #06113C;
}

.main-section-two{
    background-color: #EEEEEE;
    padding: 2vh;
}

.main-section-two-title{
    font-weight: 800;
}

.main-section-two-card-body{
    padding: 1vh;
    height:50%;
}

.read-article{
    font-weight: 700;
    color: #06113C;
}

/* Sources styling */
.main-section-one{
    padding: 2vh;
}

.source-title{
    font-weight: 500;
    font-size: large;
    color:#EEEEEE;
    text-decoration: none;
    padding-right: 5vh;
}

.source-title:hover{
    font-weight: 500;
    font-size: larger;
    color:#FF8C32;
}

.source-heading{
    color: #FF8C32;
    font-weight: bolder;
}

.more-sources{
    color: #FF8C32;
    font-weight: bolder;
}

.sources-display-all{
    padding: 1vh 6vh;
    background-color: #06113C;
}

.display-source-articles{
    padding: 1vh 6vh;
}

/* Footer styling */
.footer{
    background-color: #06113C;
    color: #EEEEEE;
    padding: 3vh;
    line-height: 1vh;
}

.footer-header{
    font-family: 'Playfair Display', serif;
    font-weight: bolder;
    color: #FF8C32;
    font-size: 8vh;
}

.social-icons{
    height:10vh;
    width: 5vw;
    padding: 2vh;
}

/* Pages styling */
.article-page-img{
    height: 12rem;
    width: 20rem;
}

.article-card{
    height: auto;
}

.page-articles-display{
    padding: 0 2vh;
}

.main-articles{
    background-color: #EEEEEE;
    border-right: #06113C solid 2px;
}

.page-article-text{
    font-weight: bold;
    font-size: smaller;
}

.page-article-title{
    text-decoration: none;
    color: #06113C;
}

.page-article-title:hover{
    font-size: large;
}

.article-card-title{
    font-weight: bold;
}

.article-main-headings{
    font-family: 'Playfair Display', serif;
}

/* Error 404 message */

/* Media Queries */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .article-page-img{
        width: 100%;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .article-page-img{
        width: 60%;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}