/* 
    font-family: 'Inconsolata', monospace; 
    font-family: 'Playfair Display', serif; Main headings
*/

body{
    font-family: 'Inconsolata', monospace;
    overflow-x: hidden;
    font-weight: 400;
    color: #06113C;
}

/* Navbar styling */
.navbar{
    background-color: #06113C;
}

.navbar-nav{
    float: right;
}

.link-nav-main{
    font-family: 'Playfair Display', serif;
    font-size: 4rem;
    font-weight: bolder;
    color: white;
}

.link-nav-main:hover{
    color: #FF8C32;
}

.link-nav{
    color: white;
    font-weight: 500;
}

.navbar-toggle{
    background-color: #FF8C32;
}

/* Tech articles section */
.main-heading{
    font-family: 'Playfair Display', serif;
    font-weight: bolder;
}

.display-tech-articles{
    padding: 2vh 4vh;
    background-color: #DDDDDD;
}

.tech-article-title{
    text-decoration: none;
    color: #06113C;
}

.tech-article-title:hover{
    color: #06113C;
}

.tech-article{
    color: #06113C;
}

.tech-article:hover{
    font-size: 110%;
}

/* Styling for the main section */
.card{
    height: 30rem;
    width: auto;
}

.card-img-top{
    height: 50%;
    width: 100%;
}

.main-section-two{
    background-color: #EEEEEE;
    padding: 2vh;
}

.main-section-one{
    padding: 2vh 0;
}