<div class="footer" align="center">
    <h1 class="footer-header">Wozap</h1>
    <p>Your trusted news source</p>
    <p>Nairobi, Kenya</p>
    <br>
    <div class="social-icons-display">
        <a href="https://web.facebook.com/?_rdc=1&_rdr">
            <img src="{{ url_for('static', filename='/css/assets/facebook-xl.png') }}" class="social-icons" alt="" srcset="">
        </a> 
        <a href="https://www.linkedin.com">
            <img src="{{ url_for('static', filename='/css/assets/linkedin-3-xl.png') }}" class="social-icons" alt="" srcset="">
        </a> 
        <a href="https://twitter.com">
            <img src="{{ url_for('static', filename='/css/assets/twitter-xl.png') }}" class="social-icons" alt="" srcset="">
        </a> 
        <a href="https://www.youtube.com">
            <img src="{{ url_for('static', filename='/css/assets/youtube-xl.png') }}" class="social-icons" alt="" srcset="">
        </a>
    </div>
</div>