{% extends 'base.html' %}
{% import 'macros.html' as macro %}

{% block content %}

<div class="main-page">
    <div class="display-tech-articles">
        <div class="row tech-article-div">
            <div class="col-md-6">
                <a href="/tech" id="main-heading"><h1>Tech News</h1></a>
                <h2>
                    <a href="{{tech_articles[1].url}}" class="tech-article-title">
                        {{tech_articles[1].title}}
                    </a>
                </h2>
                <p class="tech-article-desc">{{tech_articles[1].description|truncate(200)}}</p>
            </div>
            <div class="col-md-6 other-tech-articles">
                {% for article in tech_articles[5:10] %}
                <p><a href="{{article.url}}" class="tech-article">{{article.title}}</a></p>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="main-section">
        <div class="row">
            <div class="col-md-3 main-section-one">
                <h4 class="main-heading source-heading text-center">News Sources Available</h4>
                <ul>
                    {% for source in all_sources[0:30] %}
                    <li><a href="/source/{{source.id}}" class="source-title">{{source.name}}</a></li>
                    {% endfor %}
                    <br>
                    <div><p><a href="/sources" class="more-sources">Click to view more sources</p></a></div>
                </ul>
            </div>
            <div class="col-md-9 main-section-two">
                <h4 class="main-heading text-center">What's New?</h4>
                <div class="row main-section-two-row">
                    {% for article in all_articles[:9] %}
                    <div class="col-md-4 col-lg-4 col-xl-3 col-sm-6">
                        <div class="card">
                            <img class="card-img-top" src="{{article.urlToImage}}" alt="Card image cap">
                            <div class="card-body main-section-two-card-body">
                                <h5 class="card-title main-section-two-title">{{article.title}}</h5>
                                <p class="card-text">{{article.description|truncate(100)}}
                                    <a href="{{article.url}}" class="read-article">read article</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

{% include 'footer.html' %}

{% endblock %}