{% macro displayArticlesList(articles_list) %}
{% for article in articles_list[0:5] %}
<div class="card article-card">
    <div class="row no-gutters">
        <div class="col-md-4 col-lg-4 col-sm-5">
            <img src="{{article.urlToImage}}" class="article-page-img" alt="...">
        </div>
        <div class="col-md-8 col-lg-8 col-sm-7">
            <div class="card-body">
                <h5 class="card-title article-card-title">{{article.title}}</h5>
                <p class="card-text">{{article.description|truncate(100)}}
                    <a href="{{article.url}}">view more.</a>
                </p>
                <p class="card-text"><small class="text-muted">Authored by:{{article.author}}</small></p>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endmacro %}

{% macro displayArticlesListTwo(articles_list) %}
{% for article in articles_list[6:14] %}
    <div class="">
        <a href="{{article.url}}"><h5 class="page-article-title">{{article.title}}</h5></a>
        <p class="page-article-text">Authored by:<span>{{article.author}}</span> 
            {% if article.publishedAt %}
            Published On:<span>{{article.publishedAt}}</span>
            {% endif %}
        </p>
    </div>
    <hr class="horizontal-line">
{% endfor %}
{% endmacro %}