<div class="navbar fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand link-nav-main" href="/">Wozap</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/kenya" class="link-nav">Kenya</a></li>
                <li><a href="/worldnews" class="link-nav">World News</a></li>
                <li><a href="/business" class="link-nav">Business</a></li>
                <li><a href="/health" class="link-nav">Health</a></li>
                <li><a href="/sports" class="link-nav">Sports</a></li>
                <li class="search-form">
                    <form class="form-inline">
                        <input type="text" class="form-control mb-2 mr-sm-2 input-form" name="article_query" id="" placeholder="Search for an article.">
                        <button type="submit" class="btn btn-primary mb-2 search-btn">Search</button>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</div>