{% extends 'base.html' %}
{% import 'macros.html' as macro %}

{% block content %}
    <div class="sources-display-all">
        <h1 class="main-heading source-heading text-center">All News Sources</h1>
        <div class="row">
            {% for source in all_sources%}
            <div class="col-md-4 col-sm-3 col-lg-4">
                <a href="/source/{{source.id}}" class="source-title">{{source.name}}</a>
            </div>
            {% endfor %}
        </div>
    </div>
{% include 'footer.html' %}
{% endblock %}