{% extends 'base.html' %}
{% import 'macros.html' as macro %}

{% block content %}
<div class="page-articles-display">
    <h2 class="article-main-headings text-center">SPORTS</h2>
    <div class="page-articles">
        <div class="row">
            <div class="col-md-4 sub-articles">
                {{ macro.displayArticlesListTwo(sports_news) }}
            </div>
            <div class="col-md-8 main-articles">
                {{ macro.displayArticlesList(sports_news) }}
            </div>
        </div>
    </div>
</div>
{% include 'footer.html' %}
{% endblock %}